@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "nav.css";
@import "footer.css";
@import "form.css";
@import "hero.css";
/*COMMONS*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    color: white;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

li {
    list-style: none;
}
main {
    padding: 2rem;
}
h1,
h2,
h3,
h4 {
    font-family: 'Barlow', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.4375rem;
    font-weight: lighter;
}
h2 {
    font-weight: bold;
    font-size: 2.625rem;
    text-align: center;
}

span {
    font-weight: normal;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.06rem;
    line-height: 1.2rem;
}
img {
    max-width: 100%;
}

button,
.btn {
    padding: .5rem .75rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

button.btn-gradient, .section-btn {
    color: white;
    border: 1px solid #e23048;
    background: linear-gradient(90deg, rgba(205, 38, 115, .7) 0%, rgba(226, 48, 72, .7) 50%, rgba(248, 59, 19, .7) 100%);;
}

.linear-gradient {
    background-image: linear-gradient(180deg, #cd2673 0%, #db384a 40%, #f83b13 100%);
    height: 100vh;
}

.h-100 {
    height: 100vh;
}
.text-center {
    text-align: center;
}

.p-3 {
    padding-bottom: .5rem;
}
.m-3 {
    margin: .5rem;
}


.sections {
    background: #323130;
    text-align: center;
}
.sections > * {
    color: white;
}
.sections > p.lead {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.sections > section {
    position: relative;
    text-align: center;
    padding: 1rem 0 2.5rem;
}
.sections > section:after {
    content: '';
    background: white;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}
.sections > section > img {
    border-radius: 20%;
    margin: 1.5rem 0;
}
.sections > section > p {
    margin-bottom: 1.5rem;
}
.sections > section:last-child:after {
    content: none;
}

.sections > section > .section-subtitle {
    color: white;
    font-style: italic;
    position: relative;
    bottom: -12px;
}

.sections > section > .section-title {
    color: #e23048;
    font-weight: bolder;
    font-size: 2.625rem;
}
.sections > section > .section-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Image 1 */

.visionneuse {
    width: 182px;
    height: 182px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/*imagen 2*/

.visionneuse2 {
    width: 381px;
    height: 207px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);
    
    }



/*image 3*/

.visionneuse3 {
    width: 330px;
    height: 186px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}


/*image 4*/

.visionneuse4 {
    width: 314px;
    height: 180px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/* image 5*/


.visionneuse5 {
    width: 228px;
    height: 342px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/* image 6*/

.visionneuse6 {
    width: 334px;
    height: 179px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/* image 7*/

.visionneuse7 {
    width: 334px;
    height: 117px;
    overflow: hidden;
}
.figcaption {
    background-color: rgba(255,255,255,0.55);

}


/* image 8*/

.visionneuse8 {
    width: 348px;
    height: 187px;
    overflow: hidden;
}
.figcaption {
    background-color: rgba(255,255,255,0.55);

}


/* image 9*/

.visionneuse9 {
    width: 116px;
    height: 235px;
    overflow: hidden;
}

.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/* image 10*/

.visionneuse10 {
    width: 289px;
    height: 135px;
    overflow: hidden;
}
.figcaption {
    background-color: rgba(255,255,255,0.55);


}

/* image 11*/

.visionneuse11 {
    width: 311px;
    height: 205px;
    overflow: hidden;
}


.figcaption {
    background-color: rgba(255,255,255,0.55);

}

/* carroussel*/

.carrousel3 {
	width: 268px;
    height: 359px;
	padding: 0px;
	position: relative;
	overflow: hidden;
    text-align: left;
}

.image {
    position: absolute;
    width: 268px;
    height: 359px;
}

.images153 {
    width: 804px;
    height: 359px;
}

.image img {
	width: 268px;
	height: 359px;
    position: absolute;
}
